# Based on subset of <https://github.com/NiklasEi/bevy_game_template/blob/main/.github/workflows/ci.yml>
#
# Added `ubuntu-18.04` for widest LTS version support (avoids libc version issues).
#
name: CI

on:
  pull_request:
  push:

  # Allows you to run this workflow manually from the Actions tab.
  # (via GitHub starter template)
  workflow_dispatch:

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-18.04, ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-build-nightly-${{ hashFiles('**/Cargo.toml') }}
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
      - name: Install alsa and udev
        run: sudo apt-get update; sudo apt-get install --no-install-recommends libasound2-dev libudev-dev
        if: runner.os == 'linux'
      - name: Build & run tests
        run: cargo test
